@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Cairo+Play&family=Covered+By+Your+Grace&family=Fragment+Mono&family=Heebo:wght@800&family=Inter:wght@700&family=Overpass:wght@400;700&family=PT+Sans:wght@700&family=Quantico:ital,wght@1,700&family=Rajdhani:wght@700&family=Raleway&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.welcome {
  font-family: "PT Sans";
}

.main {
  width: stretch;
  margin: auto;
  right: 0;
  display: grid;
  position: absolute;
  width: 100vw;
  transition: 1.5s ease-in-out;
  background: linear-gradient(
    to right,
    rgba(173, 174, 179, 0.6),
    rgba(242, 240, 244, 0.6)
  );
  /* border: 1px solid red; */
}

.floor_body > .floor {
  border: 1px solid black;
  border: 1px solid #71797e;
  margin-left: 1vw;
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: right;
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-bottom-color: #71797e;
  border-top-color: #71797e;
  margin-right: 2vw;
}

.floor_number {
  margin-right: 1rem;
  font-family: "Rajdhani";
  color: white;
  position: absolute;
}

.floor_body {
  display: grid;
  grid-template-columns: 10vw 1fr;
  align-items: center;
  width: 99vw;
}

.input_dialogue {
  display: grid;
  position: fixed;
  margin: auto;
  left: 10vw;
  right: 10vw;
  padding: 2rem;
  gap: 1;
  width: stretch;
  height: 50vh;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  box-shadow: 2px 7px 43px 0px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  z-index: 2;
  top: 0;
  bottom: 0;
}

.inputs {
  width: 100%;
  height: 10vh;
  font-size: 2rem;
  text-align: center;

  border: 0.8px solid black;
  border-radius: 12px;
  color: black;
}

#generate_btn {
  height: 8vh;
  font-size: 1.5rem;
  background-color: lightgoldenrodyellow;
  border-radius: 12px;
  border: none;
  color: white;
  background: linear-gradient(to right, #fdc830, #f37335);
  background: linear-gradient(to right, #ffefba, #ffffff);
  background: linear-gradient(to right, #fceabb, #f8b500);
}

.lift {
  display: flex;
  height: 10.5vh;
  width: 1vw;
  padding: 0.5rem 2rem;
  position: relative;
  background-image: url("./assets/Lift.png");
  background-position: center;
  background-size: cover;
  align-items: flex-start;
  justify-content: center;
}

.lift_box {
  display: flex;
  transition: 1.5s ease-in-out;
  justify-content: space-evenly;
  position: absolute;
  align-items: end;
  width: 100vw;
  gap: 1rem;
  right: 0;
  margin: auto;
  /* border: 3px solid green; */
  z-index: -1;
  z-index: 1;
}

#door {
  transition: 2.5s ease-out;
}

.door {
  height: 11vh;
  position: absolute;
  background-color: black;
  width: 6.6vw;
  transition: 2.5s ease-in-out;
  bottom: 0;
  opacity: 0;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}

.btns {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1vh;
  z-index: 2;
}

.steel-wall {
  background-image: url("./assets/steel-walll.jpeg");
}

.buttonUp {
  width: 3vw;
  height: 3vw;
  background-image: url("./assets/up-arrow.png");
  background-position: center;
  border: none;
  background-size: cover;
  background-color: gainsboro;
  border: 0.8 px solid black;
  border-radius: 12%;
  border: 0.8px solid black;
}

.buttonDown {
  width: 3vw;
  height: 3vw;
  background-image: url("./assets/down-arrow.png");
  background-position: center;
  background-size: cover;
  background-color: gainsboro;
  border: 0.8px solid black;
  border-radius: 12%;
}
